POSTGRES_USER=surveillance
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=trades_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_TRADES=raw_trades
KAFKA_TOPIC_ALERTS=trade_alerts
